/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #DADED4;
    color: #3C403D;
}


 /* Add a black background color to the top navigation */
.topnav {
    background-color: #39603D;
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #DADED4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #DADED4;
    color: #3C403D;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #DADED4;
    color: #3C403D;
}

.header {
    padding: 5px;
    text-align: center;
    background: #39603D;
    color: #DADED4;
    font-size: 30px;
}

.content {
    min-height:100%; 
    background-color:green
}

.footer {
    margin-bottom: -50px;
    padding: 5px; /* Some padding */
    text-align: center; /* Center text*/
    background: #DADED4; /* Grey background */
    color: #3C403D;
}


.card {
    background-color: #f1f1f1; 
    padding: 20px;
    margin: 10px;
    width: 11%; 
    border-radius: 20px;
    font-size: 1.1em;
    line-height: 1.4em;
    letter-spacing: -1px;
    font-weight: normal;
    color: #3C403D;
    text-align: center;
  
}
  
.card-wrapper {
    display: flex;
    flex-wrap: wrap; 
  
}
  
.card button {
    display: inline-block;
    background-color:white; 
    border: .5px solid darkgray;
    color: #003366;
    border-radius: 5px;
    margin: 5px;
}